<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epicodus.quibit">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/quibit"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity android:name=".ui.SearchGoalsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.quibit.ui.MainActivity" />
        </activity>
        <activity android:name=".ui.CreateExchangeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.quibit.ui.ItemDetailActivity" />
        </activity>
        <activity android:name=".ui.ItemDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.quibit.ui.SearchGoalsActivity" />
        </activity>
        <activity android:name=".ui.AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.quibit.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CreateAccountActivity"
            android:label="Create Account" />
        <activity
            android:name=".ui.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>